<h1 class="title">Custom Parameters</h1>
<%= form_with(url: call_path, local: true, html: {class: "form_container"}) do |f| %>

<%= f.label :server %>
<%= f.text_field :server %>

<%= f.label :value1 %>
<%= f.text_field :value1 %>

<%= f.label :value2 %>
<%= f.text_field :value2 %>

<%= f.submit "Submit" %>
<% end %>