<%= button_to "Sum", call_path, params: { server: "sum", value1: 2, value2: 8 } %>
<%= button_to "Subtract", call_path, params: { server: "subtract", value1: 5, value2: 4 } %>
<%= button_to "Concanate", call_path, params: { server: "concanate_upcase", value1: "example", value2: "text" } %>
<%= button_to "Invalid", call_path, params: { server: "   ", value1: '1', value2: 8 } %>

<h1>Custom Parameters</h1>
<div>
  <%= form_with(url: call_path, local: true) do |f| %>

  <%= f.label :server %>
  <%= f.text_field :server %>

  <%= f.label :value1 %>
  <%= f.text_field :value1 %>

  <%= f.label :value2 %>
  <%= f.text_field :value2 %>

  <%= f.submit "Submit" %>
  <% end %>
</div>